@import 'mixins';

.topBar {
    height: 5vh;
    background-color: $first-color;
    display: flex;

    .fbIcon {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: $second-color;

        i {
            font-size: 20px;
            margin-left: 20px;
        }

        h1 {
            font-size: 15px;
            margin-left: 10px;
            font-weight: $font-weight;
        }

    }

    .phoneMailContainer {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .phone {
            height: 100%;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: $second-color;

            i {
                font-size: 20px;
                margin-right: 10px;
            }

            h1 {
                font-size: 15px;
                font-weight: $font-weight;
                margin-right: 20px;
            }
        }

        .mail {
            height: 100%;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: $second-color;

            i {
                font-size: 20px;
                margin-right: 10px;
            }

            h1 {
                font-size: 15px;
                font-weight: $font-weight;
                margin-right: 20px;
            }
        }
    }
}

@include media-sm {
    .topBar {
        display: none;
    }
}