@mixin media-sm {
    @media (max-width:576px) {
        @content;
    }
}

@mixin media-md-p {
    @media (min-width:576px) and (max-width:992px) and (orientation:portrait) {
        @content;
    }
}

@mixin media-md-l {
    @media (min-width:576px) and (max-width:992px) and (orientation:landscape) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width:992px) and (max-width:1200px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width:1200px) {
        @content;
    }
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}