@import 'mixins';

.topBar {
    height: 5vh;
    display: flex;
    background-color: $first-color;

    .fbIcon {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: $second-color;

        i {
            margin-left: 20px;
            font-size: 20px;
        }

        h1 {
            margin-left: 10px;
            font-size: 15px;
            font-weight: $font-weight;
        }

    }

    .phoneMailContainer {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .phone {
            height: 100%;
            display: flex;
            align-items: center;
            color: $second-color;
            text-decoration: none;

            i {
                margin-right: 10px;
                font-size: 20px;
            }

            h1 {
                margin-right: 20px;
                font-size: 15px;
                font-weight: $font-weight;
            }
        }

        .mail {
            height: 100%;
            display: flex;
            align-items: center;
            color: $second-color;
            text-decoration: none;

            i {
                margin-right: 10px;
                font-size: 20px;
            }

            h1 {
                margin-right: 20px;
                font-size: 15px;
                font-weight: $font-weight;
            }
        }
    }
}

.banner {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .filter {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $third-color;
        opacity: 0.6;

        h1 {
            text-align: center;
            z-index: 2;
            color: $second-color;
            text-shadow: 1px 1px $third-color;
        }

        h2 {
            text-align: center;
            z-index: 2;
            color: $second-color;
            text-shadow: 1px 1px $third-color;
        }
    }

    .fa-trophy {
        position: absolute;
        color: $first-color;
    }

    .modal {
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        justify-content: space-around;
        background-color: #fff;
        border: 5px solid $first-color;

        .close {
            font-size: 20px;
            margin: 0;
            flex-basis: 5%;
            align-self: flex-end;
        }

        h1 {
            flex-basis: 70%;
            text-align: center;
            font-weight: 300;
        }

        i {
            flex-basis: 25%;
            color: $first-color;
        }
    }

    .close,
    .fa-trophy:hover {
        cursor: pointer;
    }

    .enroll {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $first-color;
        border: 1px solid $first-color;


        a {
            color: $second-color;
            font-weight: 300;
            text-decoration: none;
        }

        span {
            display: block;
            position: absolute;
            background-color: $second-color;
        }

        span:nth-child(1) {
            left: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.5s;

        }

        span:nth-child(2) {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }

        span:nth-child(3) {
            right: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.5s;
            transition-delay: 0.3s;
        }

        span:nth-child(4) {
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s;
            transition-delay: 0.3s;
        }
    }
}

.enroll:hover {
    cursor: pointer;
}

.enroll:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}

.enroll:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.enroll:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}

.enroll:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}



.features {
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;

    .circle {
        @include center;
        border: 1px solid $first-color;
        border-radius: 100px;

        i {
            color: $first-color;
        }
    }

    .feature {
        text-align: center;
        font-weight: 400;
    }
}

.about {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: $third-color;
}

.numbers {
    background-image: url(taxi-1209542_1920.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;

    i {
        z-index: 3;
        color: $first-color;
    }

    .procent {
        z-index: 3;
        color: $second-color;
        font-weight: 200;
    }

    .property {
        z-index: 3;
        color: $second-color;
        font-weight: 200;
    }

    .graduation {
        grid-area: 3/1/3/2;
    }

    .students {
        grid-area: 3/2/3/3;
    }

    .years {
        grid-area: 3/3/3/4;
    }

    .eighty {
        grid-area: 2/1/2/2;
        display: flex;

        .number2 {
            margin-right: 5px;
        }
    }

    .thousand {
        grid-area: 2/2/2/3;
    }

    .thirteen {
        grid-area: 2/3/2/4;
        display: flex;

        .number3 {
            margin-right: 5px;
        }
    }

    .filter {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: $third-color;
        opacity: 0.6;
        z-index: 3;
    }
}

.opinionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .opinion {
        width: 80%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .photo {
            width: 150px;
            height: 150px;
            border-radius: 150px;
            background-color: #fff;

        }

        .photo1 {
            background-image: url(/css/boy-524512_640.jpg);
            background-size: cover;
        }

        .photo2 {
            background-image: url(/css/young-girl-2763395_640.jpg);
            background-size: cover;
        }

        .photo3 {
            background-image: url(/css/boy-2119178_640.jpg);
            background-size: cover;
        }


        .fa-quote-left {
            align-self: flex-end;
            font-size: 20px;
            margin-right: 20px;
            color: $first-color;
        }

        .quotation {
            margin: 0 30px;
            text-align: center;
        }

        .fa-quote-right {
            align-self: flex-start;
            font-size: 20px;
            margin-left: 20px;
            color: $first-color;
        }
    }

    .next,
    .prev {
        @include center;
        width: 50px;
        height: 50px;
        transition: 0.6s ease;

        i {
            font-size: 40px;
            color: $first-color;
        }

    }

    .next,
    .prev:hover {
        cursor: pointer;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.dots {
    margin: 10px auto 0 auto;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 2px solid $first-color;
    background-color: $second-color;
    transition: background-color 0.6s ease;
}

.active {
    background-color: $first-color;
}

.offerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;

    .offerBox {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-top: 2px solid $first-color;
        box-shadow: -5px -5px 10px #b6abab73,
            5px 5px 7px rgba(106, 109, 112, 0.288);
        transition: .2s linear;

        h1 {
            @include center;
            font-weight: 400;
        }

        h2 {
            @include center;
            background-color: $first-color;
            color: $second-color;
            font-weight: 300;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center
        }

        .more {
            @include center;
            background-color: $third-color;
            color: $second-color;
            text-decoration: none;
        }

    }

    .offerBox:hover {
        box-shadow: -10px -10px 15px #b6abab73,
            10px 10px 13px rgba(106, 109, 112, 0.288);
        cursor: pointer;
    }
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 50px;

    .question {
        width: 95%;
        margin: 0 auto;
        height: 20%;
        @include center;

        h3 {
            text-align: center;
            font-size: 20px;
            color: $third-color;
            font-weight: 400;
        }
    }

    .enroll2 {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $first-color;
        border: 1px solid $first-color;
        margin-top: 5px;

        a {
            color: $second-color;
            font-weight: 300;
            text-decoration: none;
        }

        span {
            display: block;
            position: absolute;
            background-color: $second-color;
        }

        span:nth-child(1) {
            left: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.5s;

        }

        span:nth-child(2) {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }

        span:nth-child(3) {
            right: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.5s;
            transition-delay: 0.3s;
        }

        span:nth-child(4) {
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s;
            transition-delay: 0.3s;
        }
    }
}

.enroll2:hover {
    cursor: pointer;
}

.enroll2:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}

.enroll2:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.enroll2:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}

.enroll2:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.3s;
}

footer {
    display: grid;
    background-color: $fourth-color;

    .about2 {
        display: grid;

        h1 {
            align-self: center;
            color: $second-color;
            font-weight: 300;
            border-bottom: 2px solid $first-color;
            text-align: center;
        }

        p {
            align-self: center;
            color: $second-color;
            font-weight: 300;
        }

        h2 {
            align-self: center;
            color: $second-color;
            font-weight: 300;
        }

        .mail {
            display: flex;
            align-self: center;

            .mailAdress {
                background-color: $second-color;
                border-width: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                text-align: center;

                h4 {
                    font-weight: 400;
                    color: $second-color;
                    font-size: 15px;
                    z-index: 2;
                    color: $third-color;
                }
            }

            .copy {
                background-color: $first-color;
                @include center;
                border: none;

                i {
                    font-size: 20px;
                    color: $second-color;
                }
            }

            .copy:hover {
                cursor: pointer;
            }
        }
    }

    .contact {
        display: grid;

        h1 {
            align-self: center;
            color: $second-color;
            font-weight: 300;
            border-bottom: 2px solid $first-color;
            text-align: center;
        }

        .contactData {
            display: flex;
            flex-direction: column;

            h2 {
                font-weight: 400;
                color: $second-color;
            }

            h3 {

                font-weight: 300;
                color: $second-color;
            }
        }
    }

    .menu2 {
        display: grid;


        h1 {
            align-self: center;
            color: $second-color;
            font-weight: 300;
            border-bottom: 2px solid $first-color;
            text-align: center;
        }

        .menuOptions {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                font-weight: 300;
                color: $second-color;
            }
        }
    }

    .copyBar {
        @include center;
        color: $second-color;
        background-color: $third-color;
    }
}

@include media-sm {
    .topBar {
        display: none;
    }

    .banner {
        height: 90vh;

        .filter {
            h1 {
                font-size: 30px;
                margin-top: 30px;
            }

            h2 {
                font-size: 18px;
            }
        }

        .fa-trophy {
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            font-size: 35px;
        }

        .enroll {
            bottom: 90px;
            width: 170px;
            height: 50px;

            a {
                font-size: 15px;
            }
        }

        .modal {
            width: 200px;
            height: 200px;

            h1 {
                font-size: 20px;
            }

            i {
                font-size: 40px;
            }
        }
    }

    .features {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);

        .circle {
            width: 80px;
            height: 80px;
            @include center;

            i {
                font-size: 40px;
            }
        }

        h2 {
            grid-area: 2/1/2/1;
        }

        h3 {
            grid-area: 4/1/4/1;
        }

        h4 {
            grid-area: 6/1/6/1;
        }

        h5 {
            grid-area: 8/1/8/1;
        }

        .feature {
            font-size: 18px;
        }
    }

    .about {
        font-size: 18px;
        width: 90%;
    }

    .numbers {
        height: 40vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        i {
            font-size: 60px;
        }

        .procent {
            font-size: 50px;
        }

        .property {
            font-size: 25px;
        }

        .graduation {
            grid-area: 3/1/3/2;
        }

        .students {
            grid-area: 3/2/3/3;
        }

        .years {
            grid-area: 3/3/3/4;
        }

        .eighty {
            grid-area: 2/1/2/2;
        }

        .thousand {
            grid-area: 2/2/2/3;
        }

        .thirteen {
            grid-area: 2/3/2/4;
        }
    }

    .numbers {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);

        i {
            font-size: 40px;
        }

        .procent {
            font-size: 30px;
        }

        .property {
            font-size: 25px;
        }

        .graduation {
            grid-area: 3/1/4/1;
        }

        .students {
            grid-area: 6/1/7/1;
        }

        .years {
            grid-area: 9/1/10/1;
        }

        .eighty {
            grid-area: 2/1/3/1;
        }

        .thousand {
            grid-area: 5/1/6/1;
        }

        .thirteen {
            grid-area: 7/1/8/1;
        }
    }

    .opinionContainer {
        min-height: 60vh;

        .photo {
            width: 100px;
            height: 100px;
        }

        .quotation {
            font-size: 18px;
        }
    }

    .dot {
        width: 10px;
        height: 10px;
    }


    .offerContainer {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;

        .offerBox {
            height: 450px;
            width: 75%;
            margin: 20px auto;

            h1 {
                height: 10%;
                font-size: 20px;
            }

            h2 {
                height: 10%;
                font-size: 20px;
            }

            .content {
                height: 70%;
                font-size: 15px;
            }

            .more {
                @include center;
                height: 10%;
                font-size: 15px;
                background-color: $third-color;
                color: $second-color;
            }
        }
    }

    .questionsContainer {
        height: 60vh;

        .question {
            margin: 10px 0;

            h3 {
                font-size: 18px;
                border-bottom: none;
            }
        }

        .enroll2 {
            width: 170px;
            height: 50px;

            a {
                font-size: 18px;
            }
        }
    }

    footer {
        min-height: 50vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr .5fr;

        .about2 {
            display: none;
        }

        .contact {
            h1 {
                width: 110px;
                font-size: 25px;
                margin: 20px auto;

            }

            .contactData {
                align-items: center;
                padding: 0 10px 0 10px;

                h2 {
                    margin-bottom: 10px;
                    font-size: 18px;
                    text-align: center;
                }

                h3 {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        .menu2 {
            grid-template-columns: 1fr;

            h1 {
                justify-self: center;
                width: 85px;
                font-size: 25px;
            }

            .menuOptions {
                justify-self: center;

                a {
                    margin-bottom: 10px;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        .copyBar {
            // grid-area: 4/1/4/3;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

@include media-md-p {
    .topBar {
        display: none;
    }

    .banner {
        height: 90vh;

        .filter {
            h1 {
                font-size: 60px;
                margin-top: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }

        .fa-trophy {
            right: 30px;
            bottom: 40px;
            font-size: 50px;
        }

        .enroll {
            bottom: 30px;
            width: 250px;
            height: 70px;

            a {
                font-size: 20px;
            }
        }

        .modal {
            width: 300px;
            height: 300px;

            h1 {
                font-size: 30px;
            }

            i {
                font-size: 60px;
            }
        }
    }

    .features {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);

        .circle {
            width: 80px;
            height: 80px;
            @include center;

            i {
                font-size: 40px;
            }
        }

        h2 {
            grid-area: 2/1/2/2;
        }

        h3 {
            grid-area: 2/2/2/3;
        }

        h4 {
            grid-area: 4/1/4/2;
        }

        h5 {
            grid-area: 4/2/4/3;
        }

        .feature {
            font-size: 20px;
        }
    }

    .about {
        font-size: 20px;
        width: 70%;
    }

    .numbers {
        height: 35vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        i {
            font-size: 50px;
        }

        .procent {
            font-size: 30px;
        }

        .property {
            font-size: 20px;
        }

        .graduation {
            grid-area: 3/1/3/2;
        }

        .students {
            grid-area: 3/2/3/3;
        }

        .years {
            grid-area: 3/3/3/4;
        }

        .eighty {
            grid-area: 2/1/2/2;
        }

        .thousand {
            grid-area: 2/2/2/3;
        }

        .thirteen {
            grid-area: 2/3/2/4;
        }
    }

    .opinionContainer {
        min-height: 35vh;

        .photo {
            width: 100px;
            height: 100px;
        }

        .quotation {
            font-size: 20px;
        }
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    .offerContainer {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;

        .offerBox {
            height: 450px;
            width: 55%;
            margin: 20px auto;

            h1 {
                height: 10%;
                font-size: 20px;
            }

            h2 {
                height: 10%;
                font-size: 20px;
            }

            .content {
                height: 70%;
                font-size: 15px;
            }

            .more {
                height: 10%;
                font-size: 15px;
            }
        }
    }

    .questionsContainer {
        height: 40vh;

        .question {
            height: 20%;

            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }

        .enroll2 {
            width: 270px;
            height: 70px;

            a {
                font-size: 20px;
            }
        }
    }


    footer {
        min-height: 50vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr .8fr 1fr;

        .about2 {
            grid-area: 1/1/1/3;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            h1 {
                width: 190px;
                margin: 0 auto;
                font-size: 28px;
                text-align: center;
            }

            p {
                font-size: 18px;
                margin: 0 20px 0 20px;
                text-align: center;
            }

            h2 {
                display: none;
            }

            .mail {
                display: none;
            }
        }

        .contact {
            grid-area: 2/1/2/2;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            h1 {
                width: 110px;
                margin-left: 40px;
                font-size: 30px;
            }

            .contactData {
                h2 {
                    margin-left: 40px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                h3 {
                    margin-left: 40px;
                    font-size: 18px;
                }
            }
        }

        .menu2 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
            grid-area: 2/2/2/3;


            h1 {
                justify-self: center;
                width: 85px;
                font-size: 30px;
            }

            .menuOptions {
                justify-self: center;

                a {
                    margin-bottom: 10px;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        .copyBar {
            grid-area: 4/1/4/3;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

@include media-md-l {
    .topBar {
        display: none;
    }

    .banner {
        height: 85vh;

        .filter {
            h1 {
                font-size: 40px;
                margin-top: 50px;
            }

            h2 {
                font-size: 20px;
            }
        }

        .fa-trophy {
            right: 20px;
            bottom: 20px;
            font-size: 35px;
        }

        .enroll {
            bottom: 20px;
            width: 200px;
            height: 40px;

            a {
                font-size: 18px;
            }
        }

        .modal {
            width: 300px;
            height: 200px;

            h1 {
                margin-top: 20px;
                font-size: 20px;
            }

            i {
                font-size: 50px;
            }
        }
    }

    .features {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);

        .circle {
            width: 80px;
            height: 80px;
            @include center;

            i {
                font-size: 40px;
            }
        }

        h2 {
            grid-area: 2/1/2/2;
        }

        h3 {
            grid-area: 2/2/2/3;
        }

        h4 {
            grid-area: 4/1/4/2;
        }

        h5 {
            grid-area: 4/2/4/3;
        }

        .feature {
            font-size: 18px;
        }
    }

    .about {
        font-size: 18px;
        width: 90%;
    }

    .numbers {
        height: 50vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        i {
            font-size: 35px;
        }

        .procent {
            font-size: 25px;
        }

        .property {
            font-size: 20px;
        }

        .graduation {
            grid-area: 3/1/3/2;
        }

        .students {
            grid-area: 3/2/3/3;
        }

        .years {
            grid-area: 3/3/3/4;
        }

        .eighty {
            grid-area: 2/1/2/2;
        }

        .thousand {
            grid-area: 2/2/2/3;
        }

        .thirteen {
            grid-area: 2/3/2/4;
        }
    }

    .opinionContainer {
        min-height: 80vh;

        .photo {
            width: 100px;
            height: 100px;
        }

        .quotation {
            font-size: 18px;
        }
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    .offerContainer {
        flex-direction: row;
        width: 100%;
        min-height: 100vh;

        .offerBox {
            height: 400px;
            width: 40%;

            h1 {
                height: 10%;
                font-size: 20px;
            }

            h2 {
                height: 10%;
                font-size: 20px;
            }

            .content {
                height: 70%;
                font-size: 15px;
            }

            .more {
                height: 10%;
                font-size: 15px;
            }
        }
    }

    .questionsContainer {
        height: 90vh;

        .question {
            height: 20%;

            h3 {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }

        .enroll2 {
            width: 200px;
            height: 40px;

            a {
                font-size: 18px;
            }
        }
    }

    footer {
        min-height: 50vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr .2fr .5fr;

        .about2 {
            grid-area: 1/1/1/3;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            h1 {
                width: 190px;
                margin: 0 auto;
                font-size: 28px;
                text-align: center;
            }

            p {
                font-size: 18px;
                margin: 0 20px 0 20px;
                text-align: center;
            }

            h2 {
                display: none;
            }

            .mail {
                display: none;
            }
        }

        .contact {
            grid-area: 2/1/2/2;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            h1 {
                width: 110px;
                margin-left: 40px;
                font-size: 30px;
            }

            .contactData {
                h2 {
                    margin-left: 40px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                h3 {
                    margin-left: 40px;
                    font-size: 18px;
                }
            }
        }

        .menu2 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
            grid-area: 2/2/2/3;


            h1 {
                justify-self: center;
                width: 85px;
                font-size: 30px;
            }

            .menuOptions {
                justify-self: center;

                a {
                    margin-bottom: 10px;
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        .copyBar {
            grid-area: 4/1/4/3;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

@include media-lg {
    .banner {
        height: 85vh;

        .filter {
            h1 {
                font-size: 60px;
                margin-top: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }

        .fa-trophy {
            right: 30px;
            bottom: 30px;
            font-size: 60px;
        }

        .enroll {
            bottom: 30px;
            width: 250px;
            height: 70px;
        }

        a {
            font-size: 20px;
        }

        .modal {
            width: 300px;
            height: 300px;

            h1 {
                margin-top: 20px;
                font-size: 25px;
            }

            i {
                margin-top: 20px;
                font-size: 60px;
            }
        }
    }

    .features {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);

        .circle {
            width: 90px;
            height: 90px;
            @include center;

            i {
                font-size: 40px;
            }
        }

        h2 {
            grid-area: 2/1/2/2;
        }

        h3 {
            grid-area: 2/2/2/3;
        }

        h4 {
            grid-area: 4/1/4/2;
        }

        h5 {
            grid-area: 4/2/4/3;
        }

        .feature {
            font-size: 20px;
        }
    }

    .about {
        font-size: 20px;
        width: 70%;
    }

    .numbers {
        height: 25vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        i {
            font-size: 60px;
        }

        .procent {
            font-size: 40px;
        }

        .property {
            font-size: 30px;
        }

        .graduation {
            grid-area: 3/1/3/2;
        }

        .students {
            grid-area: 3/2/3/3;
        }

        .years {
            grid-area: 3/3/3/4;
        }

        .eighty {
            grid-area: 2/1/2/2;
        }

        .thousand {
            grid-area: 2/2/2/3;
        }

        .thirteen {
            grid-area: 2/3/2/4;
        }
    }

    .opinionContainer {
        min-height: 30vh;

        .photo {
            width: 150px;
            height: 150px;
        }

        .quotation {
            font-size: 20px;
        }
    }

    .dot {
        width: 15px;
        height: 15px;
    }

    .offerContainer {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        min-height: 50vh;

        .offerBox {
            height: 400px;
            width: 40%;

            h1 {
                height: 10%;
                font-size: 20px;
            }

            h2 {
                height: 10%;
                font-size: 20px;
            }

            .content {
                height: 70%;
                font-size: 15px;
            }

            .more {
                height: 10%;
                font-size: 15px;
            }
        }
    }

    .questionsContainer {
        height: 40vh;

        .question {

            h3 {
                font-size: 20px;
            }
        }

        .enroll2 {
            width: 200px;
            height: 50px;

            a {
                font-size: 20px;
            }
        }
    }

    footer {
        min-height: 40vh;
        grid-template-columns: 2fr 1.5fr 1fr;
        grid-template-rows: 4fr 1fr;

        .about2 {
            grid-area: 1/1/1/2;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 3fr 2fr 2fr;

            h1 {
                width: 201px;
                margin: 20px 20px 20px 40px;
                font-size: 30px;
            }

            p {
                font-size: 18px;
                margin: 0px 100px 0 40px;
            }

            h2 {
                font-size: 30px;
                margin-left: 40px;
            }

            .mail {
                width: 250px;
                height: 40px;
                margin-left: 40px;
                margin-bottom: 20px;

                .mailAdress {
                    height: 100%;
                    width: 80%;
                }

                .copy {
                    height: 100%;
                    width: 20%;
                }
            }
        }

        .contact {
            grid-area: 1/2/1/3;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 7fr;

            h1 {
                width: 110px;
                margin: 20px 20px 20px 40px;
                font-size: 30px;
            }

            .contactData {
                h2 {
                    margin-left: 40px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                h3 {
                    margin-left: 40px;
                    font-size: 18px;
                }
            }
        }

        .menu2 {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 7fr;
            grid-area: 1/3/1/4;

            h1 {
                width: 85px;
                margin: 20px 20px 20px 40px;
                font-size: 30px;
            }

            .menuOptions {
                a {
                    margin-left: 40px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
        }

        .copyBar {
            grid-area: 2/1/2/4;
            font-size: 18px;
            font-weight: 300;
        }
    }
}


@include media-xl {
    .banner {
        height: 70vh;

        .filter {
            width: 100%;
            height: 100%;
            background-color: $third-color;
            opacity: 0.6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            h1 {
                font-size: 70px;
                margin-top: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }

        .fa-trophy {
            right: 50px;
            bottom: 50px;
            font-size: 50px;
        }

        .enroll {
            bottom: 50px;
            width: 200px;
            height: 50px;

            a {
                font-size: 20px;
            }
        }

        .modal {
            width: 300px;
            height: 300px;

            h1 {
                margin-top: 20px;
                font-size: 25px;
            }

            i {
                margin-top: 20px;
                font-size: 60px;
            }
        }
    }

    .features {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;

        .circle {
            width: 100px;
            height: 100px;
            @include center;

            i {
                font-size: 50px;
            }
        }

        .feature {
            font-size: 20px;
        }
    }

    .about {
        font-size: 20px;
    }

    .numbers {
        height: 40vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        i {
            font-size: 60px;
        }

        .procent {
            font-size: 50px;
        }

        .property {
            font-size: 30px;
        }

        .graduation {
            grid-area: 3/1/3/2;
        }

        .students {
            grid-area: 3/2/3/3;
        }

        .years {
            grid-area: 3/3/3/4;
        }

        .eighty {
            grid-area: 2/1/2/2;
        }

        .thousand {
            grid-area: 2/2/2/3;
        }

        .thirteen {
            grid-area: 2/3/2/4;
        }
    }

    .opinionContainer {
        height: 30vh;

        .photo {
            width: 150px;
            height: 150px;
        }

        .quotation {
            font-size: 20px;
        }
    }

    .dot {
        width: 15px;
        height: 15px;
    }

    .offerContainer {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        min-height: 50vh;

        .offerBox {
            height: 430px;
            width: 25%;

            h1 {
                height: 10%;
                font-size: 20px;
            }

            h2 {
                height: 10%;
                font-size: 20px;
            }

            .content {
                height: 70%;
                font-size: 15px;
            }

            .more {
                height: 10%;
                font-size: 15px;
            }
        }
    }

    .questionsContainer {
        height: 40vh;

        .question {
            h3 {
                font-size: 20px;
            }
        }

        .enroll2 {
            width: 200px;
            height: 50px;

            a {
                font-size: 20px;
            }
        }
    }

    footer {
        min-height: 40vh;
        grid-template-columns: 2fr 1.5fr 1fr;
        grid-template-rows: 4fr 1fr;

        .about2 {
            grid-area: 1/1/1/2;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 3fr 2fr 2fr;

            h1 {
                width: 201px;
                margin: 20px 20px 20px 40px;
                font-size: 30px;
            }

            p {
                font-size: 18px;
                margin: 0px 100px 0 40px;
            }

            h2 {
                font-size: 30px;
                margin-left: 40px;
            }

            .mail {
                width: 250px;
                height: 40px;
                margin-left: 40px;
                margin-bottom: 20px;

                .mailAdress {
                    height: 100%;
                    width: 80%;
                }

                .copy {
                    height: 100%;
                    width: 20%;
                }
            }
        }

        .contact {
            grid-area: 1/2/1/3;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 7fr;

            h1 {
                width: 110px;
                margin: 20px 20px 20px 40px;
                font-size: 30px;
            }

            .contactData {
                h2 {
                    margin-left: 40px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                h3 {
                    margin-left: 40px;
                    font-size: 18px;
                }
            }
        }

        .menu2 {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 7fr;
            grid-area: 1/3/1/4;

            h1 {
                width: 85px;
                margin: 20px 20px 20px 40px;
                font-size: 30px;
            }

            .menuOptions {
                a {
                    margin-left: 40px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
        }

        .copyBar {
            grid-area: 2/1/2/4;
            font-size: 18px;
            font-weight: 300;
        }
    }

}