nav {
    position: relative;
    height: 10vh;
    background-color: $second-color;

    .logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-left: 20px;
        z-index: 3;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
    }

    .list {
        list-style-type: none;
        z-index: 2;

        a {
            text-decoration: none;
            color: $third-color;
            transition: .2s linear;

            i {
                font-size: 30px;
                color: $second-color;
            }
        }

        a:hover {
            color: $first-color;
        }
    }

    .burger {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include center;

        i {
            font-size: 25px;
        }

        .fa-bars {
            color: $first-color;
            transition: .2s linear;
        }
    }

    .fa-times {
        display: none;
        color: $second-color;
        transition: .2s linear;
    }

    .appear {
        display: block;
    }

    .dissapear {
        display: none;
    }
}

@include media-sm {
    nav {
        height: 15vh;

        .logo {
            height: 50px;
            width: 20%;

            img {
                height: 80px;
                z-index: 2;
            }
        }

        .burger {
            height: 50px;
            width: 50px;
            margin-right: 20px;
            display: flex;
            z-index: 2;
        }

        .list {
            position: fixed;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            clip-path: circle(50px at 90% -20%);
            transition: all .5s ease-out;
            background-color: $first-color;

            a {
                color: $second-color;
                font-size: 20px;
                font-weight: 300;
            }

            .fb {
                display: block;
            }
        }

        .list li {
            margin-bottom: 20px;
        }

        .showNav {
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
        }
    }
}


@include media-md-p {
    nav {

        .logo {
            height: 50px;
            width: 20%;

            img {
                height: 80px;
                z-index: 2;
            }
        }

        .burger {
            height: 50px;
            width: 50px;
            margin-right: 20px;
            display: flex;
            z-index: 2;
        }

        .list {
            position: fixed;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            clip-path: circle(100px at 90% -30%);
            transition: all .5s ease-out;
            background-color: $first-color;

            a {
                color: $second-color;
                font-size: 25px;
                font-weight: 300;
            }

            .fb {
                display: block;
            }
        }

        .list li {
            margin-bottom: 20px;
        }

        .showNav {
            clip-path: circle(2000px at 90% -10%);
        }
    }
}

@include media-md-l {
    nav {
        height: 15vh;

        .logo {
            height: 50px;
            width: 20%;

            img {
                height: 70px;
                z-index: 2;
            }
        }

        .burger {
            height: 50px;
            width: 50px;
            margin-right: 20px;
            display: flex;
            z-index: 2;
        }

        .list {
            position: fixed;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            clip-path: circle(100px at 90% -30%);
            transition: all .5s ease-out;
            background-color: $first-color;

            a {
                color: $second-color;
                font-size: 20px;
                font-weight: 300;
            }


            .fb {
                display: block;
            }
        }

        .list li {
            margin-bottom: 10px;
        }

        .showNav {
            clip-path: circle(1000px at 90% -10%);
        }
    }
}

@include media-lg {
    nav {
        .logo {
            height: calc(100% - 40px);
            width: 10%;

            img {
                height: 100px;
                z-index: 2;
            }
        }

        .list {
            position: absolute;
            display: flex;
            height: 100%;
            width: 80%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            align-items: center;
            justify-content: flex-end;
            margin-right: 20px;

            li {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;

                a {
                    margin-right: 20px;
                }
            }

            .fb {
                display: none;
            }
        }

        .burger {
            display: none;
        }
    }
}

@include media-xl {
    nav {
        .logo {
            height: calc(100% - 40px);
            width: 10%;

            img {
                height: 110px;
            }
        }

        .list {
            position: absolute;
            display: flex;
            height: 100%;
            width: 80%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            align-items: center;
            justify-content: flex-end;
            margin-right: 20px;

            li {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;

                a {
                    margin-right: 20px;
                }
            }


            .fb {
                display: none;
            }
        }

        .burger {
            display: none;
        }
    }
}