@import 'variables';
@import 'homepage';
@import 'offer';
@import 'menu';
@import 'mixins';
@import 'faq';
@import 'gallery';
@import 'contact';

* {
    padding: 0;
    margin: 0;
    font-family: $font;
}

.title {
    font-weight: 400;
    text-align: center;
    padding-bottom: 2px;
    color: $fourth-color;
    margin: 50px auto 52px auto;
}

.orange {
    color: $first-color;
}

@include media-sm {
    .title {
        font-size: 25px;
    }
}

@include media-md-p {
    .title {
        font-size: 28px;
    }
}

@include media-md-l {
    .title {
        font-size: 25px;
    }
}

@include media-lg {
    .title {
        font-size: 30px;
    }
}

@include media-xl {
    .title {
        font-size: 30px;
    }
}